
/* *****************************照片内容************************ */
.container-main .photo-list-box  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main .photo-list-box .main-box {
    width: 88vw;

    margin: 94px 0 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-main .photo-list-box .main-box .item-pic {
    display: flex;
    flex-direction: column;

    margin: 0 0 35px 0;
}
/* 加号 */
.container-main .photo-list-box .main-box .item-pic .up-img-add {
    width: 41vw;
    height: 41vw;
    border-radius: 8px;
    border: 1px solid #dadce0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container-main .photo-list-box .main-box .item-pic .up-img-add .pic-img-add {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}
/* 非加号 */
.container-main .photo-list-box .main-box .item-pic .up-img {
    width: 41vw;
    height: 41vw;
    overflow: hidden;
    border-radius: 8px;
}
.container-main .photo-list-box .main-box .item-pic .up-img .pic-img{
    width: 100%;
    height: 100%;
    border-radius: 8px;

    object-fit: cover;
    object-position: center;

    transition: all 1s; 
}
